@import "palette.sass";
@import "bulma.sass";

html, body
    background-color: $color-white;
    color: $color-black;
    font-family: Verdana,Geneva,sans-serif
    font-size: 18px;
    // margin: 0px 0px;
    // padding: 0px 0px;

    a
        color: $color-accent;
        text-decoration: none;
        outline: 0;

    a:hover
      color: $color-accent-hover;

    a:active
      color: $color-accent-active;

.post-teaser,.post
  margin: 80px 0px;

  h1, h2
    color: $color-accent;
    line-height: 3rem;

  .date
    color: $color-gray;

  section
    padding: 10px 0px;
    font-size: 18px;
    text-align: justify;

  .continue-reading-link
    color: $color-accent;
    font-style: italic;

    // #logo
    //     max-width: 100%;
    //     max-height: 180px;
    //     display: block;
    //     margin: 0px auto;
    //     margin-top: 15px;
    //     background: transparent;

// #blog, footer
//     background-color: rgba(256, 256, 256, 0.8);

// #sidebar
//     text-align: center;
//     font-size: 10px;
//     #author
//         color: rgb(181, 137, 0);
//         margin-top: 40px;
//         #author-pic
//             max-width: 130px;
//             border-radius: 100%;
//         #author-name
//             font-size: 1.7em;
//             letter-spacing: 1px;
//             font-weight: bold;
//             font-family: Droid Serif;
//         #location-icon
//             max-width: 15px;
//             margin-right: 10px;
//             margin-bottom: 5px;
//         #location
//             margin-top: 10px;
//             font-size: 1.5em;

//     #findme
//         .icon
//             margin: 5px 1px;
//             max-width: 50px;
//             transition: all 0.5s;

//         .icon:hover
//             filter: brightness(130%);

//         a:hover
//             text-decoration: none;

//         #findme-textual
//             margin: 30px 0px;
//             font-size: 1.7em;
//             text-align: left;
//             color: #586e75;
//             a:hover
//                 text-decoration: underline;
//             hr
//                 border: 1px solid gray;
//             #rss-img
//                 max-width: 25px;
//                 margin-left: 15px;
//             #rss-img:hover
//                 filter: brightness(120%);

//         #facebook-embed
//             margin: 40px 0px;
//             max-width: 100%;
//             overflow: hidden;
//             iframe
//                 min-height: 230px;

//     #random
//         ul
//             padding: 0px;
//         li
//             border-radius: 5px;
//             transition: all 0.3s;
//             border: 1px solid #bdc6c6;
//             font-size: 1.8em;
//             list-style-type: none;
//             margin: 8px 0px;
//             padding: 5px;
//         li:hover
//             color: white;
//             background: rgb(181, 137, 0);
//         a:hover
//             text-decoration: none;
//         a:active
//             text-decoration: none;
//         a:visited
//             text-decoration: none;

//     #dotfiles
//         p
//             margin-top: 20px;
//             font-size: 1.7em;
//             text-align: center;
//             padding: 0px 10px;
//             color: #586e75;
//         #dotfiles-img
//             max-width: 80px;
//         #dotfiles-img:hover
//             filter: brightness(120%);
//         a:hover
//             text-decoration: none;

//     #about
//         .badge
//             background-color: transparent;
//             border-radius: 0px;
//             display: block;
//             margin: 5px auto;
//         #idl-img
//             max-width: 250px;

//     #license
//         #cc-img
//             margin: 10px 0px;
//             min-width: 100px;
//         #cc-text
//             color: #586e75;
//             margin-top: 5px;
//             font-size: 1.5em;
//             text-align: center;
//             a:hover
//                 text-decoration: underline;


// #content
//     margin-top: 20px;
//     padding: 0 40px;
//     .archive
//         display: block;
//         text-align: center;
//         font-weight: bold;
//         font-size: 1.4em;
//         margin: 20px;
//         letter-spacing: 1px;
//         color: #6c71c4;
//         padding: 5px;
//         background-color: #fdf6e3;
//         border: 2px solid #6c71c4;
//         border-radius: 5px;
//         box-shadow: 2px 2px 3px gray;
//         transition: all 0.5s;
//     .archive:hover
//         color: #fdf6e3;
//         background-color: #6c71c4;
//         box-shadow: 0px 0px 3px gray;
//         text-decoration: none;


// #archive-title
//     font-size: 2em;
//     font-weight: bold;
//     text-align: center;
//     color: #cb4b16;

// .post-list-title
//     color: rgb(181, 137, 0);
//     font-family: Droid Serif;
//     font-size: 1.5em;
