$color-white:         #FFFCFA;
$color-white-accent:  #FCF8F4;
$color-black:         #264653;
$color-gray:          #98A3A7;
$color-accent:        #F4A261;
$color-accent-hover:  #F49345;
$color-accent-active: #E76F51;

$navbar-background-color: $color-accent;
$navbar-item-color: $color-white;
$navbar-item-hover-color: $color-accent;
$navbar-item-active-color: $color-accent;
$navbar-item-hover-background-color: $color-white;
