<article class="post">
    <h1 class="is-size-2 has-text-weight-medium has-text-left">$title$</h2>
    <aside class="date has-text-left">$date$</aside>

    <section class="post-content">
        $body$
    </section>
</article>
