$for(posts)$

<article class="post-teaser">
    <h2 class="is-size-2 has-text-weight-medium has-text-left">
        <a href='$url$'>$title$</a>
    </h2>
    <aside class="date has-text-left">$date$</aside>

    <section class="post-content">
        $if(teaser)$
            $teaser$
        $else$
            $body$
        $endif$
    </section>

    <a class="continue-reading-link" href='$url$'>Continue Reading →</a>
</article>

$endfor$
